flow.json
[
    {
        "id": "582dd60c61740b29",
        "type": "tab",
        "label": "Create DB",
        "disabled": false,
        "info": "Create database, add tables and indexs. ",
        "env": []
    },
    {
        "id": "ed1d661b3babdc86",
        "type": "tab",
        "label": "DB Ingest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9688e29600bc170f",
        "type": "tab",
        "label": "Score report",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57fa87e81c6b7466",
        "type": "tab",
        "label": "Manage contacts table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea258bde43a2148d",
        "type": "tab",
        "label": "Manage score table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c6c30ddd10c4e52",
        "type": "sqlitedb",
        "db": "data.db",
        "mode": "RWC"
    },
    {
        "id": "6e27ac53741afeb6",
        "type": "ui_group",
        "name": "RadioInfoGroup",
        "tab": "43cf7c82292ea2b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43cf7c82292ea2b7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b59e5c475c6efd65",
        "type": "comment",
        "z": "582dd60c61740b29",
        "name": "DB creation",
        "info": "# DB Creation\n\nCreate db data.db in current directory (.node-red)\nCreate tables if they don't exist\n - TBL - scores\n - call (IDX)\n - contest\n - score\n - timestamp\n\nTBL - radio (may not need, live data)\n - RadioName\n - StationName\n - Freq\n - Mode\n - OpCall\n\nTBL - contacts\n - timestamp\n - mycall\n - band\n - txfreq\n - rxfreq\n - operator\n - mode\n - call\n - StationName\n - id\n\n",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc1b2281ca77c93d",
        "type": "inject",
        "z": "582dd60c61740b29",
        "name": "Start DB creation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "7f9f7cc626f6bee6"
            ]
        ]
    },
    {
        "id": "faae901da8dfee3a",
        "type": "debug",
        "z": "582dd60c61740b29",
        "name": "Add scores tbl debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d1a9e7630368717",
        "type": "debug",
        "z": "582dd60c61740b29",
        "name": "Add contacts table debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f9f7cc626f6bee6",
        "type": "sqlite",
        "z": "582dd60c61740b29",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS scores (\n    \"timestamp\" TEXT,\n    \"qsos\" TEXT,\n    \"score\" TEXT,\n    \"call\" TEXT \n);\n",
        "name": "Add scores table",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "faae901da8dfee3a",
                "65a0c6662a73a060"
            ]
        ]
    },
    {
        "id": "ea5cbb93f055ae3d",
        "type": "sqlite",
        "z": "582dd60c61740b29",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS contacts (\n    \"timestamp\" TEXT,\n    \"mycall\" TEXT,\n    \"band\" TEXT,\n    \"mode\" TEXT,\n    \"operator\" TEXT,\n    \"call\" TEXT,\n    \"StationName\" TEXT,\n    \"ID\" TEXT\n);",
        "name": "Add contacts table",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "9d1a9e7630368717"
            ]
        ]
    },
    {
        "id": "65a0c6662a73a060",
        "type": "sqlite",
        "z": "582dd60c61740b29",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "CREATE INDEX IF NOT EXISTS call_idx on scores(call);",
        "name": "Add scores IDX",
        "x": 720,
        "y": 180,
        "wires": [
            [
                "ea5cbb93f055ae3d",
                "bfa8471700d1856c"
            ]
        ]
    },
    {
        "id": "bfa8471700d1856c",
        "type": "debug",
        "z": "582dd60c61740b29",
        "name": "Add IDX debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "cba81b64914b58c1",
        "type": "udp in",
        "z": "ed1d661b3babdc86",
        "name": "",
        "iface": "",
        "port": "12060",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "1aea26f8b3c65e17",
                "5c64e165bed09c86"
            ]
        ]
    },
    {
        "id": "e04651e0def67c26",
        "type": "comment",
        "z": "ed1d661b3babdc86",
        "name": "Data ingestion",
        "info": "Receiving UDP data from N1MM on port 12060\n\nOnly concerned with scores, contacts and radio info (No DB storage)\n",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "1aea26f8b3c65e17",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "RX 12060 debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "8b8b482f966a4649",
        "type": "switch",
        "z": "ed1d661b3babdc86",
        "name": "Switch to record type",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "contactinfo",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "contactupdate",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "contactdelete",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "score",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "RadioInfo",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "4120bd0cd20f1c8c",
                "945feba65cc68c02"
            ],
            [
                "126567804723c07f",
                "61293e4385da89e6"
            ],
            [
                "5d56874727c814cc",
                "313360b37c594eaf"
            ],
            [
                "c1e338a7f8ef27a4",
                "4eed1cab13a64733"
            ],
            [
                "9ae9362fd6aa9c41",
                "929aa985fd64bb4d"
            ]
        ]
    },
    {
        "id": "4120bd0cd20f1c8c",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "contactinfo debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 80,
        "wires": []
    },
    {
        "id": "126567804723c07f",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "contactupdate debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d56874727c814cc",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "contactdelete debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "c1e338a7f8ef27a4",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "scores debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "9ae9362fd6aa9c41",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "radio debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "4eed1cab13a64733",
        "type": "link out",
        "z": "ed1d661b3babdc86",
        "name": "score out",
        "mode": "link",
        "links": [
            "36afc6334ea332fc"
        ],
        "x": 835,
        "y": 420,
        "wires": []
    },
    {
        "id": "5c64e165bed09c86",
        "type": "xml2json",
        "z": "ed1d661b3babdc86",
        "name": "Parse xml to json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "afa8a845e5230056",
                "b855aef7f8e6ec11"
            ]
        ]
    },
    {
        "id": "b855aef7f8e6ec11",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "xml2json debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "afa8a845e5230056",
        "type": "json",
        "z": "ed1d661b3babdc86",
        "name": "To json object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "8b8b482f966a4649",
                "7d5ea0ed32105002"
            ]
        ]
    },
    {
        "id": "7d5ea0ed32105002",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "xml2json result debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "313360b37c594eaf",
        "type": "link out",
        "z": "ed1d661b3babdc86",
        "name": "contactdelete Out",
        "mode": "link",
        "links": [
            "3c27a2bce0aa76dc"
        ],
        "x": 835,
        "y": 280,
        "wires": []
    },
    {
        "id": "945feba65cc68c02",
        "type": "link out",
        "z": "ed1d661b3babdc86",
        "name": "contactinfo Out",
        "mode": "link",
        "links": [
            "59c86845bd2a1000"
        ],
        "x": 835,
        "y": 40,
        "wires": []
    },
    {
        "id": "61293e4385da89e6",
        "type": "link out",
        "z": "ed1d661b3babdc86",
        "name": "contact update Out",
        "mode": "link",
        "links": [
            "067008bdb3b2e5a7"
        ],
        "x": 835,
        "y": 160,
        "wires": []
    },
    {
        "id": "929aa985fd64bb4d",
        "type": "link out",
        "z": "ed1d661b3babdc86",
        "name": "RadioInfo Out",
        "mode": "link",
        "links": [
            "282d59e6cbef0dff"
        ],
        "x": 835,
        "y": 560,
        "wires": []
    },
    {
        "id": "282d59e6cbef0dff",
        "type": "link in",
        "z": "9688e29600bc170f",
        "name": "RadioInfo in",
        "links": [
            "929aa985fd64bb4d"
        ],
        "x": 205,
        "y": 120,
        "wires": [
            [
                "0e8734251e109b7c",
                "295143c0d3e965b8"
            ]
        ]
    },
    {
        "id": "0e8734251e109b7c",
        "type": "debug",
        "z": "9688e29600bc170f",
        "name": "RadioInfo link debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 240,
        "wires": []
    },
    {
        "id": "295143c0d3e965b8",
        "type": "ui_text",
        "z": "9688e29600bc170f",
        "group": "6e27ac53741afeb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "StationName",
        "label": "text",
        "format": "{{msg.payload.RadioInfo.StationName}}",
        "layout": "row-left",
        "className": "",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "59c86845bd2a1000",
        "type": "link in",
        "z": "57fa87e81c6b7466",
        "name": "contactinfo In",
        "links": [
            "945feba65cc68c02"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "067008bdb3b2e5a7",
        "type": "link in",
        "z": "57fa87e81c6b7466",
        "name": "contactupdate In",
        "links": [
            "61293e4385da89e6"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3c27a2bce0aa76dc",
        "type": "link in",
        "z": "57fa87e81c6b7466",
        "name": "contactdelete In",
        "links": [
            "313360b37c594eaf"
        ],
        "x": 155,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "36afc6334ea332fc",
        "type": "link in",
        "z": "ea258bde43a2148d",
        "name": "score In",
        "links": [
            "4eed1cab13a64733"
        ],
        "x": 105,
        "y": 100,
        "wires": [
            []
        ]
    }
]