flow.json
[
    {
        "id": "582dd60c61740b29",
        "type": "tab",
        "label": "Create DB",
        "disabled": false,
        "info": "Create database, add tables and indexs. ",
        "env": []
    },
    {
        "id": "ed1d661b3babdc86",
        "type": "tab",
        "label": "DB Ingest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9688e29600bc170f",
        "type": "tab",
        "label": "Score report",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c6c30ddd10c4e52",
        "type": "sqlitedb",
        "db": "data.db",
        "mode": "RWC"
    },
    {
        "id": "6e27ac53741afeb6",
        "type": "ui_group",
        "name": "RadioInfoGroup",
        "tab": "43cf7c82292ea2b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43cf7c82292ea2b7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b59e5c475c6efd65",
        "type": "comment",
        "z": "582dd60c61740b29",
        "name": "DB creation",
        "info": "# DB Creation\n\nCreate db data.db in current directory (.node-red)\nCreate tables if they don't exist\n - TBL - scores\n - call (IDX)\n - contest\n - score\n - timestamp\n\nTBL - radio (may not need, live data)\n - RadioName\n - StationName\n - Freq\n - Mode\n - OpCall\n\nTBL - contacts\n - timestamp\n - mycall\n - band\n - txfreq\n - rxfreq\n - operator\n - mode\n - call\n - StationName\n - id\n\n",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc1b2281ca77c93d",
        "type": "inject",
        "z": "582dd60c61740b29",
        "name": "Start DB creation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "7f9f7cc626f6bee6"
            ]
        ]
    },
    {
        "id": "faae901da8dfee3a",
        "type": "debug",
        "z": "582dd60c61740b29",
        "name": "Add scores tbl debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d1a9e7630368717",
        "type": "debug",
        "z": "582dd60c61740b29",
        "name": "Add contacts table debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f9f7cc626f6bee6",
        "type": "sqlite",
        "z": "582dd60c61740b29",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS scores (\n    \"timestamp\" TEXT,\n    \"qsos\" TEXT,\n    \"score\" TEXT,\n    \"call\" TEXT \n);\n",
        "name": "Add scores table",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "faae901da8dfee3a",
                "65a0c6662a73a060"
            ]
        ]
    },
    {
        "id": "ea5cbb93f055ae3d",
        "type": "sqlite",
        "z": "582dd60c61740b29",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS contacts (\n    \"timestamp\" TEXT,\n    \"mycall\" TEXT,\n    \"band\" TEXT,\n    \"mode\" TEXT,\n    \"operator\" TEXT,\n    \"call\" TEXT,\n    \"StationName\" TEXT,\n    \"ID\" TEXT\n);",
        "name": "Add contacts table",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "9d1a9e7630368717"
            ]
        ]
    },
    {
        "id": "65a0c6662a73a060",
        "type": "sqlite",
        "z": "582dd60c61740b29",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "CREATE INDEX IF NOT EXISTS call_idx on scores(call);",
        "name": "Add scores IDX",
        "x": 720,
        "y": 180,
        "wires": [
            [
                "ea5cbb93f055ae3d",
                "bfa8471700d1856c"
            ]
        ]
    },
    {
        "id": "bfa8471700d1856c",
        "type": "debug",
        "z": "582dd60c61740b29",
        "name": "Add IDX debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "cba81b64914b58c1",
        "type": "udp in",
        "z": "ed1d661b3babdc86",
        "name": "",
        "iface": "",
        "port": "12060",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "1aea26f8b3c65e17",
                "8af9098588ab5872"
            ]
        ]
    },
    {
        "id": "e04651e0def67c26",
        "type": "comment",
        "z": "ed1d661b3babdc86",
        "name": "Data ingestion",
        "info": "Receiving UDP data from N1MM on port 12060\n\nOnly concerned with scores, contacts and radio info (No DB storage)\n",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "1aea26f8b3c65e17",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "RX 12060 debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "8b8b482f966a4649",
        "type": "switch",
        "z": "ed1d661b3babdc86",
        "name": "Switch to record type",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "contactinfo",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "contactupdate",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "contactdelete",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "score",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RadioInfo",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "4120bd0cd20f1c8c"
            ],
            [
                "126567804723c07f"
            ],
            [
                "5d56874727c814cc"
            ],
            [
                "c1e338a7f8ef27a4"
            ],
            [
                "9ae9362fd6aa9c41",
                "4eed1cab13a64733"
            ]
        ]
    },
    {
        "id": "4120bd0cd20f1c8c",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "contactinfo debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "126567804723c07f",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "contactupdate debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d56874727c814cc",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "contactdelete debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "c1e338a7f8ef27a4",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "scores debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "9ae9362fd6aa9c41",
        "type": "debug",
        "z": "ed1d661b3babdc86",
        "name": "radio debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "8af9098588ab5872",
        "type": "function",
        "z": "ed1d661b3babdc86",
        "name": "UTF-8",
        "func": "msg.payload=msg.payload.toString('UTF8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 180,
        "wires": [
            [
                "8b8b482f966a4649"
            ]
        ]
    },
    {
        "id": "fb3a94ce18480850",
        "type": "sqlite",
        "z": "ed1d661b3babdc86",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "",
        "name": "Add contact",
        "x": 970,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "328279ec507a92de",
        "type": "sqlite",
        "z": "ed1d661b3babdc86",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "",
        "name": "Update contact",
        "x": 1000,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8bd08bf2b6c88887",
        "type": "sqlite",
        "z": "ed1d661b3babdc86",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "",
        "name": "Delete contact",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0d4894fa0954842d",
        "type": "sqlite",
        "z": "ed1d661b3babdc86",
        "mydb": "8c6c30ddd10c4e52",
        "sqlquery": "fixed",
        "sql": "",
        "name": "Add score",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4eed1cab13a64733",
        "type": "link out",
        "z": "ed1d661b3babdc86",
        "name": "RadioInfo Out",
        "mode": "link",
        "links": [
            "282d59e6cbef0dff"
        ],
        "x": 435,
        "y": 320,
        "wires": []
    },
    {
        "id": "282d59e6cbef0dff",
        "type": "link in",
        "z": "9688e29600bc170f",
        "name": "RadioInfo in",
        "links": [
            "4eed1cab13a64733"
        ],
        "x": 205,
        "y": 120,
        "wires": [
            [
                "0e8734251e109b7c",
                "bd65706de28ae82b"
            ]
        ]
    },
    {
        "id": "bd65706de28ae82b",
        "type": "ui_table",
        "z": "9688e29600bc170f",
        "group": "6e27ac53741afeb6",
        "name": "RadioInfo",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "msg.payload",
                "title": "Station",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Freq",
                "title": "Freq",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Mode",
                "title": "Mode",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "RadioName",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "IsRunning",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "0e8734251e109b7c",
        "type": "debug",
        "z": "9688e29600bc170f",
        "name": "RadioInfo link debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.RadioInfo",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 240,
        "wires": []
    }
]